<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.nikita.pocketgym" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity android:name=".MainActivity" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DayScreen"
            android:icon="@drawable/ic_back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CategoriesScreen"
            android:label="@string/title_activity_categories_screen"
            android:parentActivityName=".DayScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.nikita.pocketgym.DayScreen" />
        </activity>
        <provider
            android:authorities="com.projects.nikita.pocketgym.provider.Categories"
            android:name=".provider.CategoriesProvider"/>
    </application>

</manifest>
